body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #D73535;
    color: #F9FAF8;
    padding: 0px 300px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-links {
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.right-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.first {
    display: flex;
    background-color: #D73535;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    padding: 0px 300px;
}

.main-text {
    display: flex;
    width: 500px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    display: flex;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

.get-started {
    display: flex;
    background-color: #F9FAF8;
    color: #D73535;
    font-weight: 500;
    margin-top: 20px;
    padding: 7px 30px;
    border: none;
    border-radius: 15px;
}

.placeholder {
    display: flex;
    color: white;
    padding: 200px;
    background-color: darkgray;
}