body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #D73535;
    color: F9FAF8;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-links {
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.right-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.first {
    color: #F9FAF8;
    background-color: #D73535;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}