body {
    margin: 0;
    overflow: scroll;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #E14434;
    color: #F9FAF8;
    padding: 0px 300px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-links {
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.right-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.first {
    display: flex;
    background-color: #E14434;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    padding: 0px 300px;
}

.main-text {
    display: flex;
    width: 500px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.secondary-text {
    display: flex;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

.get-started {
    display: flex;
    background-color: #F9FAF8;
    color: #E14434;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    padding: 12px 40px;
    border: none;
    border-radius: 30px;
}

.placeholder {
    display: flex;
    color: #E14434;
    padding: 200px;
    background-color: #F9FAF8;
    border-radius: 30px;
}

.second {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBF3D5;
}

.header-text {
    display: flex;
    color: #E14434;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rectangles {
    height: 200px;
    width: 200px;
    background-color: #F9FAF8;
    border: #E14434;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
}

.text {
    display: flex;
    color: #E14434;
    text-align: center;
    font-size: 18px;
    max-width: 200px;
}

.third {
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    color: #E14434;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}

.quote {
    display: flex;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    margin: 0px 500px;
}

.source {
    display: flex;
    font-size: 18px;
    font-weight: 900;
    margin: 0px 500px;
    align-self: flex-end;
}

.fourth {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #FBF3D5;
}

.container-fourth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 1000px;
    padding: 0px 50px;
    background-color: #E14434;
    border-radius: 100px;
}

.call-to-action {
    color: #E5E7EB;
    margin-left: 50px;
}

.head {
    font-weight: 900;
    font-size: 20px;
}

.sign-up {
    display: flex;
    background-color: #F9FAF8;
    color: #E14434;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 40px;
    border: none;
    border-radius: 30px;
}

.footer {
    display: flex;
    background-color: #E14434;
    color: #F9FAF8;
    height: 70px;
    justify-content: center;
    align-items: center;
}